<h1>Posts</h1>

            <%for(const i of post){%>
    <div class="main-box">


        <div class="post-box">

            <p class="cont">
                <%=i.content%>
            </p>
            <hr>
            <p class="user">
                <%=i.user.name%>
            </p>
            <%if(locals.user && i.user.id==locals.user.id){%>
                <button><a href="/post/delete/<%=i.id%>">Delete</a></button>
                <%}%>

        </div>
        <hr>


        <%if(locals.user){%>
            <div class="comment-container">
                <h3>Comments</h3>
                <hr>
                <div class="comment-box">
                    <%for(const comment of i.comments){%>
                        <p>
                            <%=comment.content%>
                        </p>

                        <p>
                            <%=comment.user.name%>
                        </p>

                        <%if(locals.user.id==comment.user.id && locals.user){%>
                            <button><a href="/comment/delete/<%=comment.id%>">Delete</a></button>
                            <%}%>
                                <hr>
                                <%}%>

                </div>
                <form action="/comment/create" method="POST">
                    <input type="text" name="content" placeholder="comment" required>
                    <input type="hidden" name="post" value="<%=i._id%>">
                    <input type="submit" value="Comment">
                </form>

            </div>
            <%}%>





    </div>
    <%}%>
