<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<h1>CODIEL | HOME</h1>
<%if(locals.user){%>

    <section id="feed-posts">
        <div id="upload">
            <h3>Upload</h3>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content" id="" cols="30" rows="3" placeholder="Type Your Post here....." required></textarea>
                <input type="hidden" name="post-id" value="">
                <input type="submit" value="Post">

            </form>
        </div>
        <div id="posts">
            <h1>Posts</h1>




            <%for(const i of post){%>
                <div id="post-box">
                    <div id="cont">
                        <%=i.content%>
                    </div>
                    <hr>
                    <div id="user">
                        <%=i.user.name%>
                    </div>
                    <hr>
                    <%if(locals.user){%>
                    <div id="comment-container">
                        <h3>Comments</h3>
                        <hr>
                        <div id="comment-box">
                            <%for(const comment of i.comments){%>
                           <p><%=comment.content%></p>
                               
                                <p><%=comment.user.name%></p>
                                <hr>
                           <%}%>
                          
                        </div>
                        <form action="/comment/create" method="POST">
                            <input type="text" name="content" placeholder="comment" required >
                            <input type="hidden" name="post" value="<%=i._id%>">
                            <input type="submit" value="Comment">
                        </form>
                    
                    </div>
                    <%}%>
                </div>
               
            <%}%>



                    <!-- <div id="box">
            <div id="cont">olaa laa laaa
            </div>
            <hr>
            <div id="user">ganduuu vaibhav
              
            </div>
        </div> -->
        </div>







    </section>
    <%}%>